section{
  background-color: var(--color-background-secondary);

  display: flex;
  justify-content: center;

  margin-top: 6.25rem;
  overflow: hidden;

  div.container{
    background-color: var(--color-background-tertiary);
    max-width: 70.5rem;
    width: 100%;

    border-radius: 0.5rem;

    margin: 3.375rem 1rem;
    overflow: auto;

    h2{
      text-align: center;
      padding-top: 2.5rem;

      color: var(--color-text-secondary);
      font-size: 2.25rem;
      font-weight: 400;
    }

    .about{
      padding: 2.5rem 0;
      display: flex;
      justify-content: space-evenly;

      .about-info{
        max-width: 37.25rem;
        width: 100%;

        .technology{
          display: flex;
          gap: 1.5rem;
        }

        a{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          color: var(--color-text-primary);
        }

        .social-media{
          display: flex;
          gap: 1.5rem;

          margin-bottom: 1.5rem;
        }

        h3{
          margin: 1.5rem 0 1rem 0;
        }

        & > p{
          margin-bottom: 1rem;
        }

        button{
          background-color: var(--color-background-button-tertiary);
          border-radius: 0.5rem;
          a{
            background-color: var(--color-background-button-tertiary);
            padding: 0.8rem;
            border-radius: 0.5rem;

            font-size: 1rem;

            color: var(--color-text-tertiary);

            &:hover{
              transform: scale(0.98);
              transition: 200ms linear;
              background-color: var(--color-background-button-primary);
            }
          }

          &:hover{
            background-color: var(--color-background-button-primary);
          }
        }
      }

      @media (max-width: 75rem) {
        gap: 1rem;
        margin: 0 1rem;
      }

      @media (max-width: 62rem) {
        flex-direction: column;
        align-items: center;

        .my-image{
          max-width: 442px;
          width: 100%;
        }
      }
    }

    @media (max-width: 75rem) {
      max-width: 60rem;
    }

    @media (max-width: 62rem) {
      max-width: 48rem;
    }

    @media (max-width: 48rem) {
      max-width: 36.125rem;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  animation: slideInFromLeft 1.50s ease-in-out forwards;
}
