<section>
  <div class="container">
    <h2>
      Sobre mim
    </h2>

    <div class="about">
      <img src="/assets/photo.png" alt="">

      <div class="about-info">
        <div class="technology">
          <img src="/assets/angular-original.svg" alt="">
          <img src="/assets/java-original.svg" alt="">
          <img src="/assets/css3-original.svg" alt="">
          <img src="/assets/javascript.svg" alt="">
          <img src="/assets/nodejs.svg" alt="">
        </div>

        <h3>Sou desenvolvedor full stack</h3>

        <p>
          Olá, meu nome é <strong>Wendel</strong>, sou formado em Sistemas de Informação pela
          <strong>Universidade Federal do Piauí</strong>.
        </p>

        <p>
          Ao longo da minha jornada acadêmica, tenho desenvolvido um forte interesse
          no desenvolvimento de aplicações, abrangendo desde o <strong>Back-end até o
          Front-End</strong>. Dedico-me constantemente ao aprimoramento nesse campo, por meio
          de cursos, projetos pessoais e monitoria na área. Possuo afinidade com
          tecnologias como <strong>Angular, Java Spring e Java Security para o
          desenvolvimento de Aplicação</strong>.
        </p>

        <p>Sou movido pela <strong>dedicação, disciplina e persistência</strong>, características que
          acredito serem fundamentais para agregar valor em qualquer ambiente de
          trabalho. Além disso, sou uma pessoa pontual e sempre comprometida em
          superar desafios e entregar resultados de qualidade.
        </p>

        <div class="social-media">
          <a href="">
            <img src="/assets/logo-linkedin2.svg" alt="">
            Linkedin
          </a>
          <a href="">
            <img src="/assets/logo-github.svg" alt="">
            GitHub
          </a>
        </div>

        <button>
          <a href="">
            <img src="/assets/read-cv-logo.svg" alt="book image">
            Download CV
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
