<section id="about">
  <div class="container">
    <h2>
      Sobre mim
    </h2>

    <div class="about">
      <img src="/assets/photo.png" class="my-image" alt="my-image">

      <div class="about-info">
        <div class="technology">
          <img src="/assets/angular-original.svg" alt="Angular image">
          <img src="/assets/java-original.svg" alt="Java image">
          <img src="/assets/css3-original.svg" alt="CSS3 image">
          <img src="/assets/javascript.svg" alt="JavaScript image">
          <img src="/assets/nodejs.svg" alt="NodeJS image">
        </div>

        <h3>Sou desenvolvedor full stack</h3>

        <p>
          Olá, meu nome é <strong>Wendel</strong>, sou formado em Sistemas de Informação pela
          <strong>Universidade Federal do Piauí</strong>.
        </p>

        <p>
          Ao longo da minha jornada acadêmica, tenho desenvolvido um forte interesse
          no desenvolvimento de aplicações, abrangendo desde o <strong>Back-end até o
          Front-End</strong>. Dedico-me constantemente ao aprimoramento nesse campo, por meio
          de cursos, projetos pessoais e monitoria na área. Possuo afinidade com
          tecnologias como <strong>Angular, Java Spring e Java Security para o
          desenvolvimento de Aplicação</strong>.
        </p>

        <p>Sou movido pela <strong>dedicação, disciplina e persistência</strong>, características que
          acredito serem fundamentais para agregar valor em qualquer ambiente de
          trabalho.
        </p>

        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/wendel-nunes1/"
            target="_blank"
            rel="noreferrer"
          >
            <img src="/assets/logo-linkedin2.svg" alt="linkedin image">
            Linkedin
          </a>
          <a
            href="https://github.com/WendelSantosNunes"
            target="_blank"
            rel="noreferrer"
          >
            <img src="/assets/logo-github.svg" alt="GitHub image">
            GitHub
          </a>
        </div>

        <button>
          <a
            href="https://drive.google.com/file/d/1TSkOvpM_Nulu6XLbAj4oBADaGUhc9gRM/view?usp=sharing"
            target="_blank"
            rel="noreferrer"
          >
            <img src="/assets/read-cv-logo.svg" alt="book image">
            Download CV
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
