<section class="container">
  <div class="info">
    <h1>Olá, eu sou Wendel 👋</h1>
    <h3>Full-stack developer</h3>
    <p>
      Estou me especializando em construir aplicações web inovadoras
      usando tecnologias como Angular e Spring Boot.
    </p>

    <div>
      <button>
        <a href="">
          <img src="/assets/logo-linkedin.svg" alt="Linkedin logo image">
          Linkedin
        </a>
      </button>
      <button>
        <a href="">
          Entrar em contanto
          <img src="/assets/arrow-right.svg" alt="">
        </a>
      </button>
    </div>
  </div>

  <div>
    <img src="/assets/undraw_programming_re_kg9v1.svg" alt="">
  </div>
</section>
