<div class="mobile-menu-container">
  <div *ngIf="!visible">
    <img src="/assets/list-light.svg" (click)="setMenuIsVisible()" alt="Menu image">
  </div>

  <div *ngIf="visible" class="visible">
    <img src="/assets/close-light.svg" (click)="setMenuIsVisible()" class="close" alt="Close image">
    <nav class="menu">
      <ul>
        <li class="active" (click)="setMenuIsVisible()">
          <a href="#topo">Inicial</a>
        </li>
        <li (click)="setMenuIsVisible()">
          <a href="#about">Sobre</a>
        </li>
        <li (click)="setMenuIsVisible()">
          <a href="#projects">Projetos</a>
        </li>
        <li (click)="setMenuIsVisible()">
          <a href="#skill">Habilidades</a>
        </li>
        <li (click)="setMenuIsVisible()">
          <a href="#contacts">Contanto</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
