<footer>
  <div class="container">
    <div>
      <p>&#64; 2024 | Wendel Santos</p>
    </div>

    <div>
      <div>
        <a
          href="https://github.com/WendelSantosNunes"
          target="_blank"
          rel="noreferrer"
        >
          GitHub
        </a>

        <a
          href="https://www.linkedin.com/in/wendel-nunes1/"
          target="_blank"
          rel="noreferrer"
        >
          Linkedin
        </a>

        <a
          href="https://wa.me/5589994470129"
          target="_blank"
          rel="noreferrer"
        >
          Whatsapp
        </a>
      </div>

      <a href="#topo">
        <img src="/assets/arrow-up.svg" alt="Up arrow image">
      </a>
    </div>
  </div>
</footer>
