<header id="topo">
  <div class="container header-container" >
    <h1>Wendel</h1>

    <nav class="menu">
      <ul>
        <li class="active">Inicial</li>
        <li>Sobre</li>
        <li>Projetos</li>
        <li>Habilidades</li>
        <li>Contanto</li>
      </ul>

      <div class="mobile-menu">
        <app-mobile-home-menu></app-mobile-home-menu>
      </div>

      <div class="light-dark" (click)="toggleTheme()">
        <img *ngIf="isDark==true" src="/assets/sun.svg" alt="Sun icon">
        <img *ngIf="isDark==false" src="/assets/moon.svg" alt="Moon icon">
      </div>
    </nav>
  </div>
</header>
