<header id="topo">
  <div class="container header-container" >
    <h1>Wendel</h1>

    <nav class="menu">
      <ul>
        <li>
          <a href="#topo">Inicial</a>
        </li>
        <li>
          <a href="#about">Sobre</a>
        </li>
        <li>
          <a href="#projects">Projetos</a>
        </li>
        <li>
          <a href="#skill">Habilidades</a>
        </li>
        <li>
          <a href="#contacts">Contanto</a>
        </li>
      </ul>

      <div class="mobile-menu">
        <app-mobile-home-menu></app-mobile-home-menu>
      </div>

      <div class="light-dark" (click)="toggleTheme()">
        <img *ngIf="isDark==true" src="/assets/sun.svg" alt="Sun icon">
        <img *ngIf="isDark==false" src="/assets/moon.svg" alt="Moon icon">
      </div>
    </nav>
  </div>
</header>
