header{
  background-color: var(--color-background-secudary-light);
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .menu{
    display: flex;
    align-items: center;
    gap: 1rem;

    div{
      cursor: pointer;
    }

    .light-dark{
      background-color: var(--color-background-button-secudary-light);
      padding: 0.75rem 0.75rem 0.5rem 0.75rem;
      border-radius: 0.5rem;

      &:hover{
        background-color: var(--color-background-button-primary-light);
      }
    }

    .mobile-menu {
      display: none;
    }

    @media (max-width: 768px) {
      .mobile-menu {
        display: block;
      }

      ul{
        display: none;
      }
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  ul{
    display: flex;
    align-items: center;
    gap: 1rem;

    li{
      cursor: pointer;

      &:hover {
        color: var(--color-text-secudary-light);
      }
    }
  }
}
