@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Kalam:wght@300;400;700&display=swap');

:root {
	--color-text-primary: #000000;
	--color-text-secudary: #FF944D;
  --color-text-tertiary: #FFFFFF;

  --color-background-primary: #EEF0F2;
  --color-background-secudary: #EBEBED;
  --color-background-tertiary: #FFFFFF;

  --color-background-button-primary: #FF944D;
  --color-background-button-secudary: #413A4F;
  --color-background-button-tertiary: #454545;

  --color-background-project-primary: #FFF;
  --color-background-project-secudary: #F9FAFB;
}

body{
  background-color: var(--color-background-primary);
  min-height: 100vh;
  color: var(--color-text-primary);

  &.dark{
    --color-text-primary: #FFFFFF;
    --color-text-secudary: #FF944D;
    --color-text-tertiary: #FFFFFF;

    --color-background-primary: #2B2B2B;
    --color-background-secudary: #423F3E;
    --color-background-tertiary: #313131;

    --color-background-button-primary: #FF944D;
    --color-background-button-tertiary: #454545;

    background-color: var(--color-background-primary);
  }
}

*{
  margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

p, a, span, strong, button{
  font-family: "Heebo", sans-serif;
  font-style: normal;
}

h1, h2, h3{
  font-family: "Kalam", cursive;
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: min(90vw, 86rem);
  margin: 0 auto;
}
